
/*first part of the page*/

.first {
    padding: 0 256px;
    background-color: #1F2937;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.logo {
    font-size: 24px;
}
.header {
    display:flex;
    justify-content: space-between;
    padding:0;
    margin:0;
    margin-bottom:32px;
}
.box1 {
    display:flex;
    justify-content: space-between;
    padding:0;
    margin:0;
    margin-bottom:32px;
}
ul {
    display:flex;
    list-style-type:none;
    gap:16px;
}
.title {
    font-weight: 900;
    font-size:48px;
    padding: 0;
}
.one {
    display: flex;
    flex-direction:column;
    width:400px;
    text-align: left;
}
#button1 {
    height:32px;
    width:96px;
    border-radius: 8px;
    padding:4px 12px;
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;
    margin-top: 16px;
}
.image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:64px;
    width: 256px;
    height:140px;
}
.text1 {
    margin:-32px 0 0 0;
    padding:0;
    font-size:18px;
}

/*second part of the page*/

.second {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.square {
    width:120px;
    height:120px;
    border-style:solid;
    border-color:#3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-radius: 8px;
    color: white;
}
.desc {
    width:128px;
    padding:0;
    margin:0 0 48px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.boxbox {
    display: flex;
    gap:32px;
    justify-content: center;
}
.subtitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight:bold;
}
.third {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}


.quote {
    font-size:36px;
    width:1024px;
    margin:48px 0;
    padding:auto 0;
}
#aut {
    text-align:left;
}
.fourth {
    display:flex;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding:48px 0;
}
#ad {
    display:flex;
    align-items: center;
    gap: 24px;
    padding:48px;
    background-color: #3780f6;
    margin:0;
    border-radius: 8px;
}
.ad1 {
    text-align:left;
    padding:0;
    margin:0;
    color:white;
}
.button2{
    height:32px;
    width:96px;
    border-radius: 8px;
    padding:0 12px;
    background-color: #3780f6;
    color: white;
    border-color: white;
    
}
.t1, .t2{
    margin:0;
    padding:0;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    padding:32px;
    background-color: #1F2937;
    color:white;
}
